<ion-view title="ActionSheet">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <div class="page-header">
      <h1 class="page-title">上拉菜单</h1>
      <p class="page-desc">ios样式</p>
    </div>
    <button class="button button-calm button-full button-radius" ng-click="showOrHideActionSheet()">
      显示/隐藏
    </button>
  </ion-content>
</ion-view>
