<ion-view title="{{title}}">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content>
    <hm-swiper image-list="imageList" loop="true" pagination="true" autoplay="true"></hm-swiper>
    <div class="page-header">
      <h1 class="page-title">Banner</h1>
      <p class="page-desc">使用Swiper制作</p>
    </div>
  </ion-content>
</ion-view>
