<ion-view title="{{title}}">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content padding="true">
    <div class="page-header">
      <h1 class="page-title">按钮</h1>
      <p class="page-desc">ionic 自带按钮 <br> 自定义样式</p>
    </div>
    <button class="button button-calm button-full button-radius">
      按钮
    </button>
    <button class="button button-balanced button-full button-radius">
      按钮
    </button>
    <button class="button button-assertive button-full button-radius">
      按钮
    </button>
    <button class="button button-royal button-full button-radius disabled">
      按钮(disable)
    </button>
    <!-- 一行多个 -->
    <div class="button-more">
      <button class="button button-dark button-radius">
        按钮
      </button>
      <button class="button button-energized button-radius">
        按钮
      </button>
      <button class="button button-royal button-radius">
        按钮
      </button>
    </div>

  </ion-content>
</ion-view>
