<ion-view title="日期选择器">

  <ion-content padding="true">
    <div class="page-header">
      <h1 class="page-title">日期选择器</h1>
      <p class="page-desc">
        日期选择器，支持年、年月、年月日、日期+时间
      </p>
    </div>

    <button class="button button-calm button-full button-radius" ng-click="showYear(dateCtrl.year)">
      年
    </button>

    <button class="button button-positive button-full button-radius" ng-click="showYearMonth(dateCtrl.yearMonth)">
      年月
    </button>

    <button class="button button-balanced button-full button-radius" ng-click="showYearMonthDay(dateCtrl.yearMonthDay)">
      年月日
    </button>

    <button class="button button-assertive button-full button-radius" ng-click="showWeek(dateCtrl.week)">
      周
    </button>

    <button class="button button-energized button-full button-radius" ng-click="showDateTime(dateCtrl.dateTime )">
      日期 + 时间
    </button>


  </ion-content>

</ion-view>
