<ion-view title="Footer" ng-controller="BannerCtrl">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="page-header">
      <h1 class="page-title">Footer</h1>
      <p class="page-desc">常用的有2种方式：<br> <br>1: ionic 自带的 ion-footer-bar <br>2：绝对布局</p>
    </div>
  </ion-content>
  <!-- 第一种 ionic 自带的 -->
  <!--<ion-footer-bar class="hm-footer">-->
    <!--<span>Copyright © 2016 南京汉图信息技术有限公司</span>-->
  <!--</ion-footer-bar>-->

  <!-- 第二种 绝对布局-->
  <div class="hm-footer-abs">
    <span>Copyright © 2016 南京汉图信息技术有限公司</span>
  </div>


</ion-view>
