<ion-view title="{{title}}">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true">

    <div class="page-header">
      <h1 class="page-title">Grid</h1>
      <p class="page-desc">网格</p>
    </div>
    <hm-grid menu-list="menuData" on-click="clickMenu(item)"></hm-grid>

  </ion-content>
</ion-view>
