<ion-view title="移动统计分析">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true">

    <div class="page-header">
      <h1 class="page-title">移动统计分析</h1>
      <p class="page-desc">
        基于腾讯的移动统计分析平台-
        <a href="http://mta.qq.com/" TARGET="_blank">MTA</a>
      </p>
    </div>

    <article class="page-article">
      <h1>支持平台</h1>
      <section>
        <div>
          <!--<h2>{{content.secondName}}</h2>-->
          <section>
            <h3>  - H5</h3>
            <h3>  - HyBird App</h3>
            <h3>  - Android</h3>
            <h3>  - IOS</h3>
          </section>
        </div>
      </section>
    </article>

    <article class="page-article">
      <h1>统计类型</h1>
      <section>
        <div>
          <h2>访问量</h2>
          <section>
            <h3>  - 浏览量(PV)</h3>
            <h3>  - 独立用户(UV)</h3>
            <h3>  - 访问次数(VV)</h3>
            <h3>  - 独立IP</h3>
          </section>
        </div>
        <div>
          <h2>用户分析</h2>
          <section>
            <h3>  - 实时用户轨迹</h3>
            <h3>  - 新老用户</h3>
            <h3>  - 用户画像</h3>
            <h3>  - 用户留存率</h3>
            <h3>  - 用户活跃度</h3>
            <h3>  - 使用时段</h3>
            <h3>  - 流失与回流</h3>
          </section>
        </div>
        <div>
          <h2>客户端分析</h2>
          <section>
            <h3>  - 地域</h3>
            <h3>  - 运营商</h3>
            <h3>  - 终端</h3>
            <h3>  - 微信内</h3>
          </section>
        </div>
        <div>
          <h2>页面分析</h2>
          <section>
            <h3>  - 页面排行</h3>
            <h3>  - 性能</h3>
            <h3>  - 访问深度</h3>
          </section>
        </div>
        <div>
          <h2>渠道分析</h2>
        </div>
      </section>
    </article>


  </ion-content>
</ion-view>
