<ion-view title="{{title}}">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button rectangle-round-right-tongji" ng-click="clickNaviBtn(1)">
      </button>
      <button class="button rectangle-round-right" ng-click="clickNaviBtn(2)">
        <div class="change">
        </div>
      </button>

    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content padding="true">
    <div class="page-header">
      <h1 class="page-title">导航栏</h1>
      <p class="page-desc">自定义导航栏</p>
    </div>

  </ion-content>
</ion-view>
