<ion-view title="Toast">
  <ion-nav-bar class="bar-energized nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button rectangle-round-left" ng-click="goBack()">
        <div class="navi-back">
        </div>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content padding="true">
    <div class="page-header">
      <h1 class="page-title">Toast</h1>
      <p class="page-desc">
        插件(此处浏览器做适配)
      </p>
    </div>

    <button class="button button-calm button-full button-radius" ng-click="showToast()">
      显示
    </button>

  </ion-content>
</ion-view>
