@import "../base/hm-function";
.hm-grids {
  position: relative;
  overflow: hidden;
}

.hm-grids:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  color: #D9D9D9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.hm-grid {
  position: relative;
  float: left;
  width: 33.33333333%;
  box-sizing: border-box;
  .hm-grid-icon {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: rem(39);
    height: rem(39);
    margin: 0 auto;
    img {
      width: rem(25);
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  .hm-grid-label {
    display: block;
    padding: 7px 0 7px 0;
    margin: 0 auto;
    text-align: center;
    color: $hm-color-black;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.hm-grid:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  color: #D9D9D9;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

