/*
  上下滚动item
 */
@import "../base/hm-variables";
.hm-map-ctrl-item {
  width: 40px;
  .hm-map-ctrl-item-container {
    border: 1px solid #D3D2CC;
  }
  .hm-map-ctrl-item-btn {
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: $hm-color-black-two;
    border-radius: 5px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    .hm-map-ctrl-item-btn-img {
      padding-top: 5px;
      padding-bottom: 2px;
      width: 20px;
      height: 20px;
    }
    .hm-map-ctrl-item-btn-text {
      font-size: 8px !important;
    }
  }
  .hm-map-ctrl-item-btn-sel {
    color: #ffffff;
    background: $hm-color-green;
  }
  .hm-map-ctrl-inside-list {
    width: 40px;
    margin: 0px;
    background: #ffffff;
    border: none;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    .hm-map-ctrl-inside-item {
      width: 40px;
      min-height: 40px;
      background: #ffffff;
      text-align: center;
      color: $hm-color-black-two;
      @extend .hm-flex-vh-center;
      flex-direction: column;
      img {
        border: none;
        margin-top: 2px;
        width: 30px;
        height: 30px;
      }
      .hm-map-inside-text {
        font-size: 8px !important;
      }
    }
    .hm-map-ctrl-inside-item-sel {
      background: $hm-color-green;
      color: #ffffff;
    }
  }
  .hm-map-ctrl-item-head {
    width: 40px;
    height: 10px;
    background: #ffffff;
    @extend .hm-flex-vh-center;
    img {
      width: 10px;
    }
  }
  .hm-map-ctrl-item-foot {
    width: 40px;
    height: 10px;
    background: #ffffff;
    @extend .hm-flex-vh-center;
    img {
      width: 10px;
    }
  }
}
