.home-describe {
  padding: 40px;
  .describe-content {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
  }
}
.home-type-item {
  @extend .hm-flex-v-center-h-space;
  img {
    width: 30px;
  }
}
.home-type-item-opened {
  background: #dddddd;
}
.home-child-item {
  @extend .hm-flex-v-center;
  img {
    width: 26px;
  }
  .child-name {
    padding-left: 20px;
  }
  .child-state {
    position: absolute;
    right: 20px;
  }
  .child-state-todo {
    color: #ff3b30;
  }
  .child-state-better {
    color: #e6b500;
  }
  .child-state-done {
    color: #59a07c;
  }
}
