/*
  变量定义
    - 颜色
    - 字体
 */

// 颜色
// 黑
$hm-color-black: #1c1c1c;
$hm-color-black-two: #4a4a4a;
$hm-color-black-three: #323232;
$hm-color-black-four: #3a3a3a;
// 白
$hm-color-white: #fffff;
// 蓝
$hm-color-blue: #78c3e5;
$hm-color-blue-two: #7D9EC0;
// 绿
$hm-color-green: #59a07c;
// 粉
$hm-color-pink: #e37a7a;
$hm-color-pink-two: #fce7ea;
// 褐
$hm-color-brown: #3f2915;
// 灰
$hm-color-gray: #d8d8d8;
$hm-color-gray-two: #646464;
$hm-color-gray-three: #7a7a7a;
$hm-color-gray-four: #979797;

// shadow

// backgroud
$hm-primary-bg: $hm-color-white;

// boder

$hm-button-border-radius: 8px !default;

